@model Projects.Context.Project

<div>
    <h4>Project #@Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Customer</dt>
        <dd>@Model.CustomerCompany</dd>

        <dt>Constractor</dt>
        <dd>@Model.ConstractorCompany</dd>

        <dt>Start date</dt>
        <dd>@Model.Start</dd>

        <dt>End</dt>
        <dd>@Model.End</dd>

        <dt>Priority</dt>
        <dd>@Model.Priority</dd>

        <dt>Comment</dt>
        <dd>@Model.Comment</dd>

        <dt>Employee</dt>
        <dd>@Model.Employee</dd>

        <dt>Leader</dt>
        <dd>@Model.Leader</dd>

        <dt>Workers</dt>
        <dd>
            @foreach (var element in Model.Workers)
            {
                @element<br>
            }
        </dd>
    </dl>
</div>
<div>
    <div class="col-lg-3">
        <button class="btn-warning form-control" onclick="editProject(@Model.Id)">Edit</button>
    </div>

    <div class="col-lg-3">
        <button class="btn-success form-control" onclick="projects()">Back</button>
    </div>
</div>