@model Projects.DataTypes.Project

<h3>Project Id: @Model.Id</h3>

<div class="form-group">
    <label for="Name">Name:</label>
    <input id="Name" class="form-control" type="text" value="@Model.Name" />
</div>

<div class="form-group">
    <label for="CustomerCompany">Customer company:</label>
    <input id="CustomerCompany" class="form-control" type="text" value="@Model.CustomerCompany" />
</div>

<div class="form-group">
    <label for="ConstractorCompany">Constractor company:</label>
    <input id="ConstractorCompany" class="form-control" type="text" value="@Model.ConstractorCompany" />
</div>

<div class="form-group">
    <label>Leader: @Model.Leader</label>
</div>

<div class="form-group">
    <label>Constractor company: @Model.Employee</label>
</div>

<div class="form-group">
    <label>Constractors:</label>

    @foreach (var constructor in Model.Contractors)
    {
        <label>@constructor</label>
    }
</div>

<div class="form-group">
    <label for="Start">Start date:</label>
    <input id="Start" class="form-control" type="date" value="@Model.Start.ToString("yyyy-MM-dd")" />
</div>

<div class="form-group">
    <label for="End">End date:</label>
    <input id="End" class="form-control" type="date" value="@Model.End.ToString("yyyy-MM-dd")" />
</div>

<div class="form-group">
    <label for="Comment">Comment:</label>
    <textarea id="Comment" class="form-control" rows="5">@Model.Comment</textarea>
</div>