@model IEnumerable<Projects.Context.Project>

<p>
    <button class="btn-success" onclick="createProject()">Create New</button>
    <button class="btn-success" onclick="sort()">Sort</button>
</p>
<table class="table" id="projects">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Customer</th>
        <th>Constractor</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Priority</th>
        <th>Comment</th>
        <th>Leader</th>
        <th>Employee</th>
        <th>Workers</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.CustomerCompany</td>
            <td>@item.ConstractorCompany </td>
            <td>@item.Start</td>
            <td>@item.End</td>
            <td>@item.Priority</td>
            <td>@item.Comment</td>
            <td>
                @if (null != item.Leader)
                {
                    @item.Leader
                }
            </td>
            <td>
                @if (null != item.Employee)
                {
                    @item.Employee
                }
            </td>
            <td>
                @if (null != item.Workers)
                {
                    foreach (var element in item.Workers)
                    {
                        @element<br>
                    }
                }
            </td>
            <td>
                <button class="btn-info" onclick="detailsProject(@item.Id)">Details</button>
            </td>
            <td>
                <button class="btn-warning" onclick="editProject(@item.Id)">Edit</button>
            </td>
            <td>
                <button class="btn-danger" onclick="removeProject(@item.Id)">Remove</button>
            </td>
        </tr>
    }
</table>
